html {
      background-color: #b9d5fa;
}


@font-face {
      font-family: LemonMilk;
      src: url("fonts/LEMONMILK-Bold.otf");
}
      
@font-face {
      font-family: CaviarDreams;
      src: url("fonts/CaviarDreams.ttf");
}

p {
      font-family: CaviarDreams
}
      
a {
      font-family: CaviarDreams
}
      
.topnav {
      background-color: #558ed9;
      overflow: hidden;
}
      
.topnav a {
      float: left;
      color: #112136;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
}
      
.topnav a:hover {
      background-color: #c5ddfc;
      color: black;
}
      
.topnav a.active {
      background-color: #82b8ff;
      color: white;
}
      
